<h1>Movies</h1>

This site has <%= Movie.public_count %> movies!

<ul>
    <% @movies.each do |movie| %>
        <% unless movie.archived? %>
            <li>
            <div class = "post-wrapper">
                <h2 class = "title"><%= link_to movie.title, movie %></h2>
                <p class = "date">Published <%= movie.created_at.strftime("%m/%d/%Y %H:%M") %></p>
            </div>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Movie", new_movie_path %>