<h1>Movies</h1>

This site has <%= Movie.public_count %> movies!

<ul>
    <% @movies.each do |movie| %>
        <% unless movie.archived? %>
            <li>
                <%= link_to movie.title, movie %>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Movie", new_movie_path %>